@import url('https://fonts.googleapis.com/css2?family=Bubbler+One&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

* { 
  font-family: 'Mulish', sans-serif;
  font-weight: 300;
}

:root {
  --main: #ef4444;
  --light: #fefce8;
  --grey-dark: #374161

}
.logo {
  font-family: 'Bubbler One', sans-serif;
}

.hover-transition {
  transition: all 0.5s ease-in-out;
}