@import url('https://fonts.googleapis.com/css2?family=Bubbler+One&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

* { 
  font-family: 'Mulish', sans-serif;
  font-weight: 300;
}

.logo {
  font-family: 'Bubbler One', sans-serif;
}